.categories-page {
  min-height: 100vh;
  background: #f5f7fa;
  padding: 50px 30px;
}

.categories-header {
  max-width: 1200px;
  margin: 0 auto 40px;
}

.categories-header p {
  color: #7c3aed;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.categories-header h1 {
  color: #172033;
  font-size: 42px;
  margin: 0 0 10px;
}

.categories-header span {
  color: #777;
}

.categories-grid {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.category-card {
  background: white;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);

  transition: 0.3s;
}

.category-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.category-icon {
  width: 70px;
  height: 70px;

  margin: 0 auto 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ede9fe;
  border-radius: 50%;

  font-size: 32px;
}

.category-card h2 {
  color: #172033;
  font-size: 20px;
  margin-bottom: 8px;
}

.category-card p {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}

.category-card button {
  border: none;
  background: #7c3aed;
  color: white;

  padding: 10px 18px;
  border-radius: 6px;

  font-weight: 600;
  cursor: pointer;
}

.category-card button:hover {
  background: #5b21b6;
}

@media (max-width: 800px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .categories-page {
    padding: 35px 20px;
  }

  .categories-grid {
    grid-template-columns: 1fr;
  }

  .categories-header h1 {
    font-size: 32px;
  }
}